@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 12px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 10px;
	letter-spacing : 0.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 10px;
	letter-spacing : 0.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Myriad Pro;
	font-size : 12px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 10px;
	letter-spacing : 0.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 12px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 10px;
	letter-spacing : 0.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 10px;
	line-height : 30px;
	letter-spacing : 0.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 12px;
	letter-spacing : 1.8px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
